.copias{
    background: linear-gradient(90deg, rgb(126, 46, 234), rgb(194, 113, 149));
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}
div#copiado.copiado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media screen and (min-width: 0) {
    .copias{
        padding:5rem 0 0 1rem ;   
    }
}
@media screen and( min-width: 768px) {
    .copias{
        padding:5rem 0 0 2.5rem ; 
    }
}
@media screen and (min-width: 992px) {
    .copias{
        padding:5rem 0 0 5rem ;   
    }
}