.rodape{
    background: linear-gradient(90deg, rgb(126, 46, 234), rgb(194, 113, 149));
    ;
    color: #fdfdfd;
    padding: 1rem;
    text-transform: lowercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
